#page-one {
    background-color: #0D6EFD;
}
/* #page-one .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
} */

a {
    text-decoration: none;
    color: white;
}
#page-two {
    
}

#page-two .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-two .gnu-text {
    background-color: #212529;
    color: white;
}

#page-two .cat-carousel {
    background-color: #DC3545;
    color: white;
}

#page-three .col img {
    width: 200px;
}